* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
   
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0 black;
    padding: 3px;
 }
   
.navbar .logo img {
    height: 60px;
    width: 300px;
  }
   
.navbar .nav-links {
    display: flex;
  }
   
.navbar .nav-links li {
    position: relative;
    display: inline-block;
    color: #ca0000;
    font-size: 20px;
  }
   
.navbar .nav-links li {
    list-style-type: none;
    margin: 8px;
  }
   
.navbar .nav-links li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(238, 0, 0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
   
.navbar .nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
   
.navbar .nav-links li a {
    text-decoration: none;
  }
   
.college-logo img {
    width: 100%;
    height: 550px;
  }
   
.experience {
    display: flex;
    justify-content: space-around;
  }
   
.experience .number {
    font-size: 40px;
  }
   
.exp {
    font-size: 30px;
    text-align: center;
    padding: 50px 110px;
    color: #fff;
  }
   
.one {
    background-color: #e01010;
  }
   
.two {
    background-color: #f32a2a;
  }
   
.three {
    background-color: #970000;
  }
   
footer {
    color: #fff;
  }
   
.foot-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 66, 66);
  }
   
.foot-1-content {
    padding: 60px;
    width: 35%;
  }
.foot-2 {
    padding: 5px;
    text-align: center;
    background-color: black;
  }
.btn {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  